* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
  }
  
  
  .foxbel {
    display: flex;
  }
  
  .foxbel__aside {
    background-color: rgb(124, 24, 44);
    width: 25rem;
    height: 100vh;
    position: fixed;
  }
  
  .foxbel__aside-title {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .foxbel__aside-title h2 {
    font-size: 2rem;
    color: rgb(204, 24, 60);
  }
  
  .foxbel__menu {
    padding-left: 2rem;
    margin-bottom: 2rem;
  }
  
  .foxbel__menu-list {
    display: flex;
    flex-direction: column;
  }
  
  .foxbel__menu h4 {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  .foxbel__menu-list a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #d4d3d3;
    margin-bottom: .5rem;
  }
  
  .foxbel__main {
    flex: 1;
    padding: 2rem 0rem;
    background-color: #f1f1f1;
    margin-left: 25rem;
  }
  
  .foxbel__search {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  .foxbel__search a {
    margin-left: 3.5rem;
    cursor: pointer;
  }
  
  .foxbel__search i {
   color: rgb(124, 24, 44);
   font-size: 1.2rem;
  }
  
  .foxbel__search input {
    width: 60rem;
    padding: .8rem 1rem;
    border-radius: .4rem;
    border: .1rem solid #ccc;
    border-radius: 2rem;
  }
  
.foxbel__search-button {
  background-color: rgb(204, 24, 60);
  color: #fff;
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
}

  .foxbel__banner  {
    background-color: rgb(168, 64, 85);
    height: 23rem;
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  .foxbel__banner-img {
    position: relative;
  }
  
  .foxbel__banner-img img {
  
    height: 100%;
  }
  
  .foxbel__banner-img i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 4rem;
  }
  
  .foxbel__banner-content {
    padding: 2rem;
    color: #fff;
  }
  
  .foxbel__banner-content h6 {
    font-size: 1.8rem;
  
  }
  
  .foxbel__banner-content span {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    display: inline-block;
  }
  
  .foxbel__banner-content p {
    font-size: 1.4rem;
    margin-bottom: 5.5rem;
  }
  
  .foxbel__banner-content button {
    background-color: rgb(204, 24, 60);
    color: #fff;
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
  }
  
  .foxbel__results {
    margin: 0 2rem;
  }
  
  .foxbel__results h5 {
    font-size: 1.6rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    color: rgb(168, 64, 85);;
  }
  
  .foxbel__result-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .foxbel__result-item {
    width: 20%;
    padding: 0 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  
  .foxbel__result-item-button {
    position: absolute;
    right: 0;
    padding-right: 4rem;
    padding-top: 4rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .fa-heart {
    font-size: 8rem;
    
    color: red;
  }

  .foxbel__banner-img2 {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .foxbel__banner-img2  img {
   width: 100%;
  }
  
  .foxbel__banner-img2 i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 4rem;
  }
  
  .foxbel__result-text {
    display: flex;
    flex-direction: column;
  }
  
  .foxbel__result-text  strong{
    font-size: 1.4rem;
  }
  
  .foxbel__player {
    background-color: rgb(202, 34, 68);
    width: 100%;
    height: 7rem;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
  }
  
  .foxbel__player img {
    height: 100%;
  }
  
  .foxbel__player-content {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem;
  }
  
  .foxbel__player-text {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  
  .foxbel__player-text strong {
    margin-bottom: .5rem;
  }